<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Internship</title>
</head>
<body>



    <h1>Create Internship</h1>

    <form method="POST">

    <label for="title">Internship Title:</label>
    <input
        type="text"
        id="title"
        name="title"
    >

    <label for="description">Description:</label>
    <textarea
        id="description"
        name="description"
    ></textarea>

    <label for="location">Location:</label>
    <input
        type="text"
        id="location"
        name="location"
    >

    <label for="work_mode">Work Mode:</label>
    <select id="work_mode" name="work_mode">
        <option value="">Select Work Mode</option>
        <option value="Remote">Remote</option>
        <option value="Hybrid">Hybrid</option>
        <option value="On-site">On-site</option>
    </select>

    <label for="duration">Duration:</label>
    <input
        type="text"
        id="duration"
        name="duration"
    >

    <label for="stipend">Stipend:</label>
    <input
        type="number"
        id="stipend"
        name="stipend"
        min="0"
    >

    <label for="eligibility">Eligibility:</label>
    <textarea
        id="eligibility"
        name="eligibility"
    ></textarea>

    <label for="required_skills">Required Skills:</label>
    <input
        type="text"
        id="required_skills"
        name="required_skills"
        placeholder="Python, SQL, Git"
    >

    <label for="deadline">Application Deadline:</label>
    <input
        type="date"
        id="deadline"
        name="deadline"
    >

    <label for="status">Status:</label>
    <select id="status" name="status">
        <option value="Draft">Draft</option>
        <option value="Active">Active</option>
        <option value="Closed">Closed</option>
    </select>

    <button type="submit">Create Internship</button>

    </form>

</body>
</html>