# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Uploaded resumes
uploads/*
!uploads/.gitkeep

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db